# ~/.aliases
# Apenas aliases comuns (sem condicional)

alias cp='cp -i'
alias mv='mv -i'
alias mkdir='mkdir -p'
alias ping='ping -c 10'
alias tping='ping -c 4 google.com'
alias exe='chmod +x'
alias off='systemctl poweroff'
alias reb='systemctl reboot'
alias weather="curl -s 'wttr.in/Ubatuba?0&lang=pt-br'"
alias tempo='curl -s "https://wttr.in/Ubatuba?format=%t\n" | head -n 3'
alias cat='bat'
alias kill='kill -9'
alias killall='killall -9'
alias free-mem="sudo sh -c 'echo 3 > /proc/sys/vm/drop_caches'"
alias logs="systemctl --failed; echo; journalctl -p 3 -b"
alias logs2='journalctl -p err --since "1 hour ago"'
alias gfont='fc-list -f "%{family}\n" | grep -i '
alias gfont2='kitty +list-fonts | grep'
alias grep='grep -i'
alias al='nvim ~/.bashrc ~/.aliases'
alias .r='source ~/.bashrc'
alias man='tldr'
alias nv='nvim'
alias v='nvim'
alias df='duf --hide special'
alias duf='duf --hide special'
alias ff='sh ~/Scripts/fsearch'
alias hg='history | grep'
alias ag='alias | grep'
alias j-edit='nvim ~/.local/share/autojump/autojump.txt'
alias inxi='inxi -Fxz'
alias fv='fd --type f --hidden --exclude .git | fzf-tmux -p --reverse | xargs -r nvim'
alias nf='nerdfetch'
alias sf='screenfetch'
alias uf='ufetch'
alias tx='gnome-text-editor'
#alias ft='fastfetch --logo small'
#alias ft2='fastfetch --logo small -c ~/.config/fastfetch/Chris.jsonc'
alias ftm='fastfetch --config ~/.config/fastfetch/small_config.jsonc'
alias lg="ls | grep"
alias ls='eza -lah --color=always --group-directories-first --icons'
alias ll='eza -lah --color=always --group-directories-first --icons'
alias update-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'
# ... todos os outros comuns ...

# Qtile Stuffs
alias xprop='xprop WM_CLASS | grep WM_CLASS'
alias win='rofi -show window'
alias fix='~/.bin/fix_resolution'
alias qd='cd ~/.config/qtile && ll'
