# ~/.aliases
# Apenas aliases comuns (sem condicional)

alias cp='cp -i'
alias mv='mv -i'
alias mkdir='mkdir -p'
alias ping='ping -c 10'
alias tping='ping -c 4 google.com'
alias exe='chmod +x'
alias off='systemctl poweroff'
alias reb='systemctl reboot'
alias weather="curl -s 'wttr.in/Ubatuba?0&lang=pt-br'"
alias tempo='curl -s "https://wttr.in/Ubatuba?format=%t\n" | head -n 3'
alias cat='bat'
alias kill='kill -9'
alias killall='killall -9'
alias free-mem="sudo sh -c 'echo 3 > /proc/sys/vm/drop_caches'"
alias logs="systemctl --failed; echo; journalctl -p 3 -b"
alias logs2='journalctl -p err --since "1 hour ago"'
alias gfont='fc-list -f "%{family}\n" | grep -i '
alias gfont2='kitty +list-fonts | grep'
alias grep='grep -i'
alias al='nvim ~/.bashrc ~/.aliases'
alias .r='source ~/.bashrc'
alias man='tldr'
alias nv='nvim'
alias v='nvim'
alias df='duf --hide special'
alias duf='duf --hide special'
alias ff='sh ~/Scripts/fsearch'
alias hg='history | grep'
alias ag='alias | grep'
alias j-edit='nvim ~/.local/share/autojump/autojump.txt'
alias inxi='inxi -Fxz'
alias fv='fd --type f --hidden --exclude .git | fzf-tmux -p --reverse | xargs -r nvim'
alias tx='gnome-text-editor'
alias lg="ls | grep"
alias ls='eza -lah --color=always --group-directories-first --icons'
alias ll='eza -lah --color=always --group-directories-first --icons'
alias update-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias failk='faillock --reset'
alias sudo2='faillock --reset'

# ==== Fetchs ===
alias xft='sexyFetch.sh'
alias ftm='fastfetch --config ~/.config/fastfetch/small_config.jsonc'
alias ft2='fastfetch --logo small -c ~/.config/fastfetch/Chris.jsonc'
alias ft3='fastfetch --logo small'
alias nf='neofetch'
alias nf2='nerdfetch'
alias sf='screenfetch'
alias uf='ufetch'

# ... todos os outros comuns ...

# Qtile Stuffs
alias xprop='xprop WM_CLASS | grep WM_CLASS'
alias win='rofi -show window'
alias fix='~/.bin/fix_resolution'
alias qd='cd ~/.config/qtile && ll'
alias pb='polybar-msg cmd restart >/dev/null 2>&1'
alias qr='qtile cmd-obj -o cmd -f restart >/dev/null 2>&1'
alias qpb='qtile cmd-obj -o cmd -f restart >/dev/null 2>&1 && polybar-msg cmd restart >/dev/null 2>&1'
alias qlog='code ~/.local/share/qtile/qtile.log'
alias fwall='feh --no-fehbg --bg-fill'
alias fwall2='feh --bg-fill'

# Hyprland Stuffs
alias hr='hyprctl reload'
alias wb='pkill waybar && waybar &'
alias hd='cd ~/.config/hypr && ll'
alias swall='swww img ~/Imagens/wallpapers/045.jpg'
alias swall2='swww img'
alias way='~/.src/launch.sh'
alias hprop='hyprctl clients | grep "class:"'

# OpenBox
alias od='cd ~/.config/openbox && ll'
alias or='openbox --reconfigure'



# Zoxite (autojump)
alias j='z'
alias ji='zi'  # interativo com fzf

